__pycache__/
*.py[cod]
*$py.class

# C Extentions
*.so

# Images
*.png
*.jpg

logs
pip-log.txt
pip-delete-this-directory.txt

.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# dotenv
.env

# virtualenv
.venv
venv/
ENV/
